:root {
  /* colours */
  --text: black;
  --text-h: hsl(257, 37%, 4%);
  --bg: #16171d;
  --card-bg: whitesmoke;

  /* fonts */
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  font: 16px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*, *::after, *::before, body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  color: whitesmoke;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 40px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  /* text-decoration: line-through; */
  @media (max-width: 1024px) {
    font-size: 28px;
  }
} 
.striked {
  text-decoration: line-through;
  color: lightslategray;
}
#app {
  width: 100%;
  height: 100vh;
  max-width: 1024px;
  margin: 0 auto 0;
  padding: 12px 24px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;

  #taskList {
    height: inherit;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
  }

  article {
    max-width: 768px;
    margin: auto;
    background-color: var(--card-bg);
    border-radius: 8px;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;

    header {
      div {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
        gap: 8px;

        *{
          border-radius: 10px;
          padding: 0px 6px;
          max-height: min-content;
          cursor: pointer;
        }

        #priority {
          background-color: lightsalmon;
        }
        #customMenu {
          position: relative;
        
          #statusWrap {
            background-color: lightblue;
            display: flex;
            align-items: center;
            column-gap: 4px;
            

            span {padding: 0;}
            #arrow-down{
              width: 10px;
              padding: 0;
            }
          }
          #statusWrap:hover{
            filter: brightness(0.9);
            outline: 1.5px solid darkslategray;
          }
          #statusListBox{
            list-style-type: none;
            background-color: lightgray;
            margin-top: 8px;
            padding: 0;
            border-radius: 0;
            position: absolute;
            top: 100%;
            left: 12px;
            li{
              border-radius: 0;
              padding: 4px 8px;
            }
            li:hover, li:focus, li:active{
              background-color: darkslategray;
              color: whitesmoke;
            }
          }
        }
        #timeWrap{
          padding: 0;
          #time-remaining {
            background-color: lightsteelblue;
          }
        }
        
      }
    }

    section {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      ul{
        font-size: 12px;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        column-gap: 8px;
        li {
          text-decoration: none;
          border-radius: 10px;
          padding: 0px 6px;
          background-color: lightpink;
        }
      }
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        span{
          display: flex;
          align-items: center;
          column-gap: 4px;
          label{font-weight: 500;}
        }

        time {
          border-radius: 10px;
          padding: 2px 8px;
          background-color: lightslategrey;
        }
      }
    }

    footer {
      display: flex;
      flex-direction: column;
      row-gap: 4px;
      justify-content: space-between;
      
      button{
        all: unset;
        font: inherit;
        text-align: center;
        padding: 8px 24px;
        border-radius: 8px;
        cursor: pointer;
      }
      button:hover, button:focus,  button:active{
        filter: brightness(0.9);
        outline: 1.5px solid darkslategray;
      }

      #editBtn {
        background-color: lightgray;
        color: black;
      }
      #delBtn {
        background-color: darkslategrey;
        color: white;
      }
      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: start;
        column-gap: 8px;   
      }
    }
  }

  
}
